.btn {
    padding: 10px 20px;
    background-color: rgba(6, 151, 6, 0.678);
    color: #000;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.text {
    color: orange;
}